

.dadHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #71C9CE;
}

.childHome{
    width: 100%;
    display: flex;
    justify-content: center;
}