

.dadHome{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #71C9CE;
}

.childHome{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.job{
    width: 100%;
    height: 80vh;
}